.catalog {
  background: $color-background;
  color: $color-white;

  h2 {
    font-family: $font-family-roboto-condensed;
    margin: 0 0 52px;
    color: inherit;
    font-weight: normal;
    font-size: 36px;
    line-height: calc(51 / 36 * 100%);

    @media (max-width: $width-desktop+px) {
      font-size: 32px;
      margin-bottom: 49px;
      max-width: 620px;
    }

    @media (max-width: $width-tablet+px) {
      font-size: 28px;
      margin-bottom: 42px;
      padding-left: 10px;
    }
  }
}

.catalog__container {
  max-width: 1220px;
  padding: 89px 25px 127px;

  @media (max-width: $width-desktop+px) {
    padding-top: 50px;
    padding-bottom: 78px;
  }

  @media (max-width: $width-tablet+px) {
    padding-bottom: 64px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  column-gap: 30px;
  row-gap: 46px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $width-desktop+px) {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.catalog-item {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 620px;
  cursor: pointer;

  @media (max-width: $width-desktop+px) {
    height: auto;
    min-height: 256px;
  }

  h3 {
    margin: 0;
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 44px;
    max-width: 160px;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    font-family: $font-family-roboto-condensed;

    @media (max-width: $width-desktop+px) {
      font-size: 20px;
      top: 40px;
      left: 45px;
    }

    @media (max-width: $width-tablet+px) {
      top: 20px;
      left: 35px;
    }
  }

  &:last-child {
    h3 {
      @media (max-width: $width-desktop+px) {
        top: 50px;
      }

      @media (max-width: $width-tablet+px) {
        top: 30px;
      }
    }
  }
}

.catalog-item__link {
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;

  @media (hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 0 10px 0 $color-white;
    }
  }
}

.catalog-item__img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    transition: $transition;
  }
}

.catalog-item__btn {
  width: 63px;
  height: 63px;
  background: $primary-color;
  display: grid;
  place-items: center;
  fill: none;
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
}
