.feauters {
  background: url("../img/feat_decor_all.png") no-repeat;
  background-size: 1920px 1346px;
  background-position: -100px -30px;

  @media (max-width: $width-desktop+px) {
    background: url("../img/feat_decor_1.png") no-repeat;
    background-size: 870px 870px;
    background-position: 212px 90px;
  }

  @media (max-width: $width-tablet+px) {
    background-position: -118px 652px;
  }
}

.feauters__container {
  max-width: 1220px;
  padding: 112px 25px 0;

  @media (max-width: $width-desktop+px) {
    padding: 54px 25px 0;
  }

  @media (max-width: $width-tablet+px) {
    padding: 37px 15px 0;
  }
}

.feauters__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $width-tablet+px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.feauters-item {
  position: relative;
  cursor: pointer;
  padding: 94px 39px 66px 41px;
  min-height: 299px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-left: 3px solid $primary-color;
  transition: $transition;
  fill: $primary-color;

  @media (max-width: $width-desktop+px) {
    padding: 66px 21px 19px 24px;
    min-height: 232px;
  }

  @media (max-width: $width-tablet+px) {
    padding: 25px 12px 22px 25px;
  }

  h2 {
    margin: 0 0 15px;
    font-family: $font-family-roboto-condensed;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: $primary-color;

    @media (max-width: $width-desktop+px) {
      margin-bottom: 9px;
    }

    @media (max-width: $width-tablet+px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;
  }
  svg {
    position: absolute;
    top: 40px;
    left: 45px;

    @media (max-width: $width-desktop+px) {
      top: 23px;
      left: 23px;
    }

    @media (max-width: $width-tablet+px) {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: 9px;
    }
  }

  @media (hover) and (pointer: fine) {
    &:hover {
      background: $primary-color;
      fill: $color-white;

      h2 {
        color: $color-white;
      }

      p {
        color: $color-white;
      }
    }
  }
}

.feauters-item--hired {
  @media (max-width: $width-tablet+px) {
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 27px;
  }
}

.feauters-item--detective {
  @media (max-width: $width-tablet+px) {
    padding-top: 23px;
    padding-left: 23px;

    svg {
      margin-bottom: 4px;
    }

    h2 {
      margin-bottom: 17px;
    }
  }
}

.feauters-item--tag {
  @media (max-width: $width-tablet+px) {
    padding-bottom: 19px;

    svg {
      margin-bottom: 5px;
    }

    h2 {
      margin-bottom: 16px;
    }
  }
}
