.feauters {
  background: url("../img/feat_decor_all.png") no-repeat;
  background-size: 1920px 1346px;
  background-position: -100px -30px;

  @media (max-width: $width-desktop+px) {
    background: url("../img/feat_decor_1.png") no-repeat;
    background-size: 870px 870px;
    background-position: 212px 90px;
  }

  @media (max-width: $width-tablet+px) {
    background-position: -118px 652px;
  }
}

.feauters__container {
  max-width: 1220px;
  padding: 112px 25px 0;

  @media (max-width: $width-desktop+px) {
    padding: 54px 25px 0;
  }

  @media (max-width: $width-tablet+px) {
    padding: 37px 15px 0;
  }
}

.feauters__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $width-tablet+px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
