.feedback {
  background: $primary-color;
  background-image: url("../img/img-form-plane.png"), url("../img/form-decor-all.png");
  background-repeat: no-repeat;
  background-size: 511px 288px, 1745px 764px;
  background-position: calc(279 / 1920 * 100vw) 161px, 75px -60px;

  @media (max-width: 1520px) {
    background-position: 5vw 161px, left center;
  }

  @media (max-width: $width-desktop+px) {
    background: $primary-color;
  }
}

.feedback__container {
  max-width: 1220px;
  padding: 92px 25px 113px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  @media (max-width: $width-desktop+px) {
    grid-template-columns: 1fr;
    padding-top: 80px;
    padding-bottom: 105px;
    max-width: 640px;
  }

  @media (max-width: $width-tablet+px) {
    padding: 30px 15px 42px;
  }
}

.feedback__form {
  grid-column: 2/3;
  color: $color-white;

  @media (max-width: $width-desktop+px) {
    grid-column: initial;
  }
}
