.footer {
  padding-top: 65px;

  @media (max-width: $width-desktop+px) {
    padding-top: 19px;
  }

  @media (max-width: $width-tablet+px) {
    padding-top: 46px;
  }
}

.footer__container {
  width: 100%;
}

.footer__container--bottom {
  border-top: 1px solid rgba($color: #626962, $alpha: 0.2);

  @media (max-width: $width-tablet+px) {
    border: 0;
  }
}

.footer__head {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 0 25px;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto 56px;

  @media (max-width: $width-desktop+px) {
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: 35px;
  }
  @media (max-width: $width-tablet+px) {
    margin-bottom: 0;
  }
}

.footer__top {
  margin-right: calc(234 / 1920 * 100vw);

  @media (max-width: $width-desktop+px) {
    padding: 0 25px 25px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba($color: #626962, $alpha: 0.2);
  }

  @media (max-width: $width-tablet+px) {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: center;
    justify-items: center;
    padding: 0 25px 44px;
    border: 0;
  }
}

.footer__middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: 1440px) {
    gap: 5px;
  }

  @media (max-width: $width-desktop+px) {
    padding: 0 25px;
    gap: 40px;
  }

  @media (max-width: $width-tablet+px) {
    padding: 0;
    gap: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: stretch;
  }
}

.footer__bottom {
  padding: 0 25px;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 53px;

  > :not(:last-child) {
    margin: 0 50px 0 0;

    @media (max-width: 1230px) {
      margin-right: 20px;
    }

    @media (max-width: $width-desktop+px) {
      margin-right: 10px;
    }

    @media (max-width: $width-tablet+px) {
      margin: 0;
    }
  }

  p {
    color: inherit;
    text-transform: uppercase;
    color: rgba($color: #1b2d37, $alpha: 0.5);
    letter-spacing: 0.04em;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
  }

  @media (max-width: $width-desktop+px) {
    min-height: 69px;
  }

  @media (max-width: $width-tablet+px) {
    border-top: 1px solid rgba($color: #626962, $alpha: 0.2);
    padding: 28px 25px 26px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: stretch;
    text-align: center;
    width: 100%;
    gap: 21px;
  }
}

.footer__logo {
  display: flex;
  margin-bottom: 44px;

  @media (max-width: $width-desktop+px) {
    margin-bottom: 0;
  }

  @media (max-width: $width-tablet+px) {
    margin-bottom: 13px;
  }
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 10px 0 10px 2px;

  @media (max-width: $width-tablet+px) {
    padding: 10px;
  }
}

.footer__menu {
  flex: 1 1 auto;

  @media (max-width: 1300px) {
    flex: 0 1 436px;
  }

  @media (max-width: $width-desktop+px) {
    flex: 0 1 auto;
  }

  @media (max-width: $width-tablet+px) {
    margin: 0;
    border-top: 1px solid rgba($color: #626962, $alpha: 0.2);
    padding: 0;
  }
}

.footer__title {
  margin: 0 0 26px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #1b2d37;
  font-family: $font-family-roboto-condensed;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  @media (max-width: $width-desktop+px) {
    margin-top: 38px;
    margin-left: 3px;
  }

  @media (max-width: $width-tablet+px) {
    padding: 29px 15px 27px;
    margin: 0;
  }
}

.footer__address {
  margin-right: 6px;

  p,
  a {
    margin: 0;
    display: flex;
    font-family: $font-family-mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: rgba($color: #1b2d37, $alpha: 0.5);
  }

  a {
    &:focus,
    &:focus-within {
      color: $primary-color;
    }

    &:active {
      opacity: 0.7;
    }

    @media (hover) {
      &:hover {
        color: $primary-color;
      }
    }
  }

  @media (max-width: $width-desktop+px) {
    padding-left: 80px;
  }

  @media (max-width: $width-tablet+px) {
    margin: 0;
    border-top: 1px solid rgba($color: #626962, $alpha: 0.2);
    padding: 28px 15px 28px;
    padding: 0;

    address {
      padding: 0 15px;
    }

    &.accordion--open {
      padding-bottom: 32px;
      padding-bottom: 26px;

      address {
        padding-top: 4px;
      }
    }

    p {
      padding-right: 15px;
    }
  }
}

.footer__copy {
  @media (max-width: $width-desktop+px) {
    display: none;
  }
}

.footer__companydate {
  padding-left: 26px;

  @media (max-width: $width-desktop+px) {
    display: none;
  }

  @media (max-width: $width-tablet+px) {
  }
}

.footer__companydate--top {
  display: none;

  @media (max-width: $width-desktop+px) {
    padding: 0;
    padding-left: 16px;
    display: block;
    color: inherit;
    text-transform: uppercase;
    color: rgba($color: #1b2d37, $alpha: 0.5);
    letter-spacing: 0.04em;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    flex: 1 1 auto;
  }

  @media (max-width: $width-tablet+px) {
    padding: 0;
    margin-bottom: 21px;
  }
}

.footer__policy-link {
  flex: 1 1 auto;
  margin-right: 30px;
  padding-left: 93px;

  @media (max-width: $width-desktop+px) {
    margin: 0;
    padding-left: 0;
  }
}

.footer__devby {
  margin-right: 5px;

  @media (max-width: $width-desktop+px) {
    margin-right: 1px;
  }
}
