.form {
  position: relative;
  background: transparent;

  &::after {
    content: "Форма успешно отправлена";
    font-size: 30px;
    color: $color-white;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    text-align: center;
    background: #33c1ffd1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
  }

  &.form--sended {
    &::after {
      z-index: 10;
      opacity: 1;
      visibility: visible;
    }
  }

  fieldset {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $width-desktop+px) {
      margin-bottom: 42px;
    }

    @media (max-width: $width-tablet+px) {
      margin-bottom: 31px;
      grid-template-columns: 1fr;
      gap: 31px;
    }
  }

  h2 {
    margin: 0 0 10px -4px;
    font-family: $font-family-roboto-condensed;
    font-weight: normal;
    font-size: 36px;
    line-height: 140%;
    color: inherit;

    @media (max-width: $width-desktop+px) {
      font-size: 32px;
      margin-bottom: 17px;
    }

    @media (max-width: $width-tablet+px) {
      font-size: 28px;
      margin-bottom: 13px;
    }
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: inherit;
    margin: 0 0 51px;

    @media (max-width: $width-desktop+px) {
      margin-bottom: 54px;
    }

    @media (max-width: $width-tablet+px) {
      margin: 0 0 26px;
    }
  }

  input:not([type="checkbox"]) {
    font-family: $font-family-mono;
    border: 0;
    border-radius: 0;
    outline: 0;
    height: 50px;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: 0.2);
    color: $color-white;
    font-size: 16px;
    line-height: 50px;
    padding: 0 17px;
    box-shadow: 0;

    &::placeholder {
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit;
    }

    &:focus,
    &:focus-within {
      background: rgba($color: #ffffff, $alpha: 0.3);
    }

    &:active {
      background: rgba($color: #ffffff, $alpha: 0.3);
    }

    @media (hover) and (pointer: fine) {
      &:hover {
        background: rgba($color: #ffffff, $alpha: 0.3);
      }
    }

    @media (max-width: $width-desktop+px) {
      height: 51px;
    }
  }

  input[type="checkbox"] {
    bottom: 12px;
    left: 10px;

    &:checked {
      ~ .form__label-checkox {
        &::after {
          background: url("../img/icons/icon_check.svg") no-repeat;
          background-size: 8px 8px;
          background-position: center;
        }
      }
    }

    &:focus,
    &:focus-within ~ .form__label-checkox {
      color: $color-white;
      text-decoration: underline;
      &::after {
        outline: 1px solid #fff;
        outline-offset: 3px;
      }
    }

    &:active ~ .form__label-checkox {
      color: $color-white;
    }
  }

  textarea {
    font-family: $font-family-mono;
    resize: none;
    border: 0;
    border-radius: 0;
    outline: 0;
    width: 100%;
    height: 154px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    color: $color-white;
    font-size: 16px;
    line-height: 22px;
    padding: 13px 17px;
    margin: 0 0 39px;

    &::placeholder {
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit;
    }

    @media (max-width: $width-desktop+px) {
      height: 160px;
      margin-bottom: 40px;
    }

    @media (max-width: $width-tablet+px) {
      height: 104px;
      margin-bottom: 26px;
    }

    @media (hover) and (pointer: fine) {
      &:hover {
        background: rgba($color: #ffffff, $alpha: 0.3);
      }
    }

    &:focus,
    &:focus-within {
      background: rgba($color: #ffffff, $alpha: 0.3);
    }
  }

  button[type="submit"] {
    font-family: $font-family-mono;
    border: 1px solid $color-white;
    background: transparent;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-family-roboto-condensed;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;

    @media (max-width: $width-tablet+px) {
      height: 46px;
    }

    @media (hover) and (pointer: fine) {
      &:hover {
        background: rgba($color: #ffffff, $alpha: 0.3);
      }
    }

    &:focus,
    &:focus-within {
      background: rgba($color: #ffffff, $alpha: 0.3);
    }

    &:active {
      background: rgba($color: #ffffff, $alpha: 0.1);
    }
  }
}

.form__label-checkox {
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  line-height: 16px;
  color: rgba($color: #ffffff, $alpha: 0.8);

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid $color-white;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $width-desktop+px) {
      top: 3px;
      left: 11px;
    }

    @media (max-width: $width-tablet+px) {
      top: 1px;
      left: 1px;
    }
  }

  @media (max-width: $width-desktop+px) {
    padding-left: 45px;
  }

  @media (max-width: $width-tablet+px) {
    max-width: 230px;
    padding-left: 34px;
  }

  @media (hover) and (pointer: fine) {
    &:hover {
      color: $color-white;
    }
  }
}

.form__btn-close {
  display: none;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 0;
  margin: 0;

  @media (hover) and (pointer: fine) {
    &:hover {
      background: rgba($color: #ffffff, $alpha: 0.3);
    }
  }

  &:focus,
  &:focus-within {
    background: rgba($color: #ffffff, $alpha: 0.3);
  }

  &:active {
    background: rgba($color: #ffffff, $alpha: 0.1);
  }
}

.form--modal {
  .form__btn-close {
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: $color-white;
    position: absolute;
    right: -31px;
    top: -25px;

    svg {
      width: 17px;
      height: 17px;
    }
  }

  .form__label-checkox {
    padding-right: 20px;
    padding-left: 48px;

    &::after {
      top: 5px;
      left: -1px;
    }
  }
}
