.video {
  background: #131314;
  background: linear-gradient(to bottom, #131314 0%, #131314 80.3%, #ffffff 80.3%);

  @media (max-width: $width-desktop+px) {
    background: linear-gradient(to bottom, #131314 0%, #131314 77.4%, #ffffff 77.4%);
  }

  @media (max-width: $width-tablet+px) {
    background: linear-gradient(to bottom, #131314 0%, #131314 82%, #ffffff 82%);
  }
}

.video__container {
  margin: 0 auto;
  text-align: center;
  padding: 120px 16px 75px;

  h2 {
    margin: 0 auto 20px;
    max-width: 350px;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.005em;
  }

  p {
    margin: 0 auto 56px;
    max-width: 340px;
    color: rgba($color: #ffffff, $alpha: 0.7);
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.005em;
  }

  @media (max-width: $width-desktop+px) {
    max-width: 535px;
    padding-top: 70px;
    padding-bottom: 35px;

    h2 {
      font-size: 24px;
    }

    p {
      max-width: 429px;
      margin-bottom: 40px;
    }
  }

  @media (max-width: $width-tablet+px) {
    padding-top: 84px;

    p {
      margin-bottom: 54px;
    }
  }
}

.video__video-box {
  max-width: 929px;
  margin: 0 auto;
  height: 522px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lighten($color: #131314, $amount: 5);

  img {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  @media (max-width: $width-desktop+px) {
    height: 282px;
  }

  @media (max-width: $width-tablet+px) {
    height: 161px;
  }
}

.video__btn-play {
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 65px;
  height: 65px;
  background: $primary-color;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;

  @media (max-width: $width-desktop+px) {
    height: 90px;
    width: 90px;
  }
  @media (max-width: $width-tablet+px) {
    width: 65px;
    height: 65px;
  }

  @media (min-width: $width-desktop+px) {
    &:focus,
    &:focus-within {
      box-shadow: 0 0 0 3px #ffffff;
    }

    &:hover {
      background: rgba($color: $primary-color, $alpha: 0.9);
      box-shadow: 0 0 0 3px #ffffff;
    }
  }

  &:active {
    background: rgba($color: $primary-color, $alpha: 0.7);
  }
}

.video__btn-play-icon {
  width: 13px;
  height: 18.2px;
  margin-left: 5px;

  @media (max-width: $width-desktop+px) {
    width: 18.07px;
    height: 25.3px;
    margin-left: 7px;
  }

  @media (max-width: $width-tablet+px) {
    width: 13px;
    height: 18.2px;
    margin-left: 5px;
  }
}
