$min-width: 320;
$max-width: 1420;
$width-mobile: 320;
$width-tablet: 767;
$width-desktop: 1023;

$font-family-mono: "PT Mono", "Courier", monospace;
$font-family-roboto: "Roboto", "Arial", sans-serif;
$font-family-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;

$primary-color: #00b2ff;
// $primary-color-hover: #f17d4b;

$color-background: #1b2d37;
$color-gray1: #788891;

$color-dark1: #203c42;

$color-white: #ffffff;

$color-text: #666666;
$transition: all 0.3s ease 0s;

:root {
  --header-height: 118px;
}
